/*专门用来编写ui组件的css*/
.header .wrap .search .search-image{
    background: url("../img/ui-search.jpg") no-repeat 0px 0px;
    height: 38px;
    width: 326px;
    /*background-color: #00B7FF;*/
}

.header .wrap .search .search-result{
    position: absolute;
    left: 0;
    top: 0;
    /*background-color: #4ab14e;*/
    height: 38px;
    width: 69px;
    text-indent: 15px;
    line-height: 38px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    user-select:none;
    /*防止快速双击的时候变成选中*/
}

.header .wrap .search #search-input{
    position: absolute;
    left: 69px;
    top: 1px;
    height: 34px;
    width: 210px;
    /*background-color: #bbbbbb;*/
    text-indent: 2em;
}

.header .wrap .search .search-list{
    background-color: #5bc0de;
    height: 69px;
    width: 69px;
    text-align: center;
    display: none;
}

.header .wrap .search .search-list .search-list-item{
    background-color: #ffffff;
    height: 23px;
    line-height: 23px;
    font-size: 14px;
}

.header .wrap .search .search-list .search-list-item:hover{
    background-color: #bbbbbb;
}

.header .wrap .search .search-submit{
    display: inline-block;
    position: absolute;
    right: 0;
    top:0;
    /*background-color: #4ab14e;*/
    height: 38px;
    width: 40px;
}

.nav .ui-menu-list li{
    height: 22px;
    /*background-color: #7C0070;*/
    font-size: 14px;
    line-height: 22px;
    padding: 8px 5px 9px 6px;
    margin-left: 2px;
    /*这里写的不好，先将就的覆盖*/
}

.nav .ui-menu-list li:hover{
    background-color: #ffffff;
}

.nav .ui-menu-list li:hover  .department-detail{
    display: block;
}

.nav .wrap .ui-menu-list-item:hover .department:before{
    background-position-x: 0;
    /*color: #000000;*/
}

.nav .wrap .ui-menu-list-item:hover .department{
    color: #000000;
}

.nav .wrap .ui-menu-list-item:hover .disease{
    color: #000000;
}

.nav .department{
    /*display: inline-block;*/
    /*height: 22px;*/
    /*width: 100%;*/
    color: #ffffff;
    /*text-align: left;*/
    padding-left: 25px;
    font-size: 13px;
    /*background-color: red;*/
    line-height: 22px;
    float: left;
    position: relative;
    /*作为before的父元素，这句一定要加*/
    }

.nav .department:before{
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0px;
    top: 0px;
    /*background-color: red;*/
    background: url(../img/icon-menu.jpg) no-repeat -22px 0;
}

.ui-menu-list-item:nth-child(1) .department:before{
    background-position: -23px 0;
}

.ui-menu-list-item:nth-child(2) .department:before{
    background-position: -23px -22px;
}

.ui-menu-list-item:nth-child(3) .department:before{
    background-position: -23px -44px;
}

.ui-menu-list-item:nth-child(4) .department:before{
    background-position: -23px -66px;
}

.ui-menu-list-item:nth-child(5) .department:before{
    background-position: -23px -88px;
}

.ui-menu-list-item:nth-child(6) .department:before{
    background-position: -23px -110px;
}

.nav .ui-menu-list .disease{
    font-size: 12px;
    /*background-color: pink;*/
    line-height: 22px;
    height: 22px;
    float: right;
    color: #ffffff;
    padding-left: 15px;
}

.nav .ui-menu-list-item .department-detail{
    height: 424px;
    width: 553px;
    background: url("../img/bg-menu.jpg") no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 190px;
    display: none;
    z-index: 9;
}
.nav .ui-menu-list .department-detail .detail-group-list-caption{
    /*background-color: #00B7FF;*/
    text-align:left;
    font-size: 15px;
    padding: 20px 10px 10px 30px;
    color: #666666;

}
.nav .ui-menu-list .department-detail .detail-group-list{
    /*background-color: #4ab14e;*/
    padding: 10px 10px 10px 20px;
}

.nav .ui-menu-list .department-detail .detail-group-list a{
    border-right: 1px solid #666666;
    padding-right: 25px;
    color: #31708f;
    /*background-color: #00B7FF;*/
    float: left;
    margin: 20px 15px 0 10px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
}

.back_element{
    height: 50px;
    width: 50px;
    background-color: #4e4e4e;
    position: fixed;
    bottom: 20px;
    right: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    /*display: none;*/
}